body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url('stars.png');
    background-size: cover;
}

#space {
    position: relative;
    width: 100%;
    height: 100%;
}

#potato {
    position: absolute;
    width: 100px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}